* {
    font-family: 'Cairo', sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    /* this is set becouse some element fill out the page => scroll-x */
    overflow-x: hidden;
}

:root {
    --shadow-color: rgba(39, 51, 79, 0.05);
    --shadow-color-dark: rgba(39, 51, 79, 0.1);
}

body::-webkit-scrollbar {
    background-color: #F7F8FA;
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    background-color: #212529;
    border-radius: 50px;
}

/* start the material ui relaion */
#style-shadow,
.style-shadow {
    box-shadow: 0 0 10px 0 var(--shadow-color);
}

#style-shadow-dark,
.style-shadow-dark {
    box-shadow: 0 0 10px 0 var(--shadow-color-dark);
}

/* End the material ui relaion */
/* Start Category */
.categoryImgBlob {
    width: 110px;
}

#categoryImg {
    width: 100px;
    height: 100px;
}

/* End Category */

/* Start discount-section */
#discount-section-container {
    background-color: #59c3ff;
    background-image: linear-gradient(90deg, #59c3ff 0%, #686ef9 100%);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#discount-section-container-dis {
    background-color: #fe3333;
    background-image: linear-gradient(00deg, #59c3ff 20%, #686ef9 100%);
}

/* End discount-section */

/* Start Footer */

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#space-footer {
    height: 80vh;
}

/* End Footer */
.nav-link {
    color: #21252993 !important;


}

.nav-link:hover {
    color: #212529 !important;

}


/* Start Search sort Result with side-filter */
#container-search-sort-filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#search-sort-filters {
    background-color: #F7F8FA;
    color: #212529;

}

#search-sort-filters:hover {
    background-color: #212529;
    color: #fff;

}


/* End Search sort Result with side-filter */


/* Start Slider Img */

.slider-img {
    max-width: 100%;
    height: 400px;
    transition: 0.2s;
}

/* End Slider Img */

/* Start Products */
#img-products-card {
    max-width: 250px;
    height: 200px;
    transition: 0.3s;
}

.image-gallery-slides {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-gallery-slide {
    /* background-color: red !important; */
    height: 100%;
    min-height: 55vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-gallery-image {
    /* width: 900px; */
    height: 300px;
}

#rate-container-flex {
    display: flex;
    align-items: center;
}

.rate-post-textarea {
    background-color: #ececec;
}

.rate-post-textarea::-webkit-scrollbar {
    background-color: #ececec;
    width: 10px;
    border-radius: 50px;
}

.rate-post-textarea::-webkit-scrollbar-thumb {
    background-color: #212529;
    border-radius: 50px;
}

#icon-trash-can {
    font-size: 20px;
}

@media (max-width:260px) {
    #rate-container-flex {
        flex-direction: column;
    }

    #width-cart-pay {
        width: 100%;
    }

    .slider-img {
        height: 100px;
    }
   
}

/* End Products */

/* Start Admin */

#admin-btn-sidebar a {
    color: #212529;
}

#admin-btn-sidebar {
    background-color: #fff;
}

#admin-btn-sidebar:hover {
    background-color: #212529;
    color: #fff;
}

#admin-btn-sidebar:hover a {
    color: #fff;
}

.input-file {
    background-color: #212529;
    border: none;
    padding: 8px;
    border-radius: 5px;
    color: #fff;
    margin: 0 10px;
    cursor: pointer;

}


/* End Admin */





@media (max-width:768px) {
    #img-products-card {
        max-width: 150px;
        height: 100px;
        transition: 0.3s;
    }

    #admin-sidebar-container {
        display: flex;
        justify-content: space-between;
    }
}


@media (max-width:576px) {

    .categoryImgBlob {
        width: 90px;
    }

    #categoryImg {
        width: 80px;
        height: 80px;
    }

    #discount-section-container {
        flex-direction: column;
        justify-content: space-evenly;
        min-height: 35vh;
    }

    .footer-container {
        flex-direction: column;
    }

    /* #container-side-filters {
        display: flex;
    } */

    #title-product-card {
        font-size: 13px;
    }

    #price-with-star-product-card {
        font-size: 13px;
    }
    .slider-img {
        height: 200px;
    }

}